<div class="app-layout">
  <app-navbar></app-navbar>

  <div class="app-main-content">
    <router-outlet></router-outlet>
  </div>

  <footer class="app-footer">
    <div class="container footer-container">
      <div class="footer-left">
        <p class="footer-brand"><i class="fa-solid fa-film text-red"></i> <strong>Pasa La Peli</strong> &copy; 2026</p>
        <p class="footer-sub">Arquitectura Cloud Native | Evaluación Parcial N°1 - Duoc UC (DSY1107)</p>
      </div>
      <div class="footer-badges">
        <span class="badge badge-blue"><i class="fa-brands fa-angular"></i> Angular</span>
        <span class="badge badge-gold"><i class="fa-brands fa-java"></i> Spring Boot</span>
        <span class="badge badge-red"><i class="fa-brands fa-aws"></i> AWS S3 & API Gateway</span>
        <span class="badge badge-green"><i class="fa-brands fa-microsoft"></i> Azure AD (MSAL)</span>
      </div>
    </div>
  </footer>
</div>
